@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap%22");

body {
    background-image: url('img/image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
  }
  
  .logo {
    margin-left: 20px;
    font-size: 20px;
  }
  
  ul {
    display: none; /* hide the menu by default */
  }

  p {
    font-size: 20px;
    color: #fff;
    margin: 2%
  }
  h2 {
    margin: 2%;
  }
  
  /* add a hamburger icon */
  .menu-icon {
    display: none; /* hide the hamburger icon by default */
    position: absolute; /* position the icon */
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .menu-icon i {
    font-size: 24px;
    color: #fff;
  }

  

  @media screen and (max-width: 700px) {
    /* show the hamburger icon and hide the menu */
   
  
  ul {
  display: none;
  }

  ul.dropdown-content {
    display: block;
    }
  
  .menu-icon {
  display: block;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: #333;
    color: #fff;
    position: relative;
    transition: height 0.5s ease;
  }
  .dropdown-content{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* make menu button appear large and display the nav when clicked */
  nav.open {
      height: 25vh;
  }
  
  .menu-icon {
      cursor: pointer;
  }
  
  /* Add styles for the larger nav */
  nav.open ul.dropdown-content {
      display: flex;
  }

  nav.open .dropdown-content {
      display: block;
  }
  }
  
  @media screen and (min-width: 701px) {
  /* show the menu and hide the hamburger icon */
  ul {
  display: flex;
  list-style: none;
  margin-right: 20px;
  }
  
  .menu-icon {
  display: none;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: #333;
    color: #fff;
    position: relative; /* add a position value */
  }
  .dropdown-content {
    display: none;
  }
  }
  
  li {
  margin: 0 10px;
  }
  
  a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  }
  
  .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  
  .box {
  width: calc(50% - 20px);
  height: 200px;
  background-color: #ccc;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  
  }
  
  footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  }

.wrapper {
  margin: 80px auto;
  text-align: center;
  width: 100%;
  position: relative;
}
.button {
  padding: 15px 100px;
  margin: 10px 4px;
  color: rgb(194, 194, 194);
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.button {
  border: 10px solid transparent;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}
.button::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -1;
  width: 0%;
  height: 1px;
  background: #003177;
  box-shadow: inset 0px 0px 0px #b6cdef;
  display: block;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}
.button:hover::before {
  width: 100%;
}
.button::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
  width: 0%;
  height: 1px;
  background: #a9c1e8;
  -webkit-transition: all 0.4s cubic-bezier(0.7, 0.25, 0, 1);
  transition: all 0.4s cubic-bezier(0.7, 0.25, 0, 1);
}
.button:hover::after {
  width: 100%;
}
.button:hover {
  border-left: 1px solid #b6cdef;
  border-right: 1px solid #6098ff;
}
.button:hover span {
  color: #fff;
}

.Main {
  display: flex;
  justify-content: space-around;
}

.Main__choices {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  height: 100%;
}

.choice {
  width: fit-content;
  height: fit-content
  background-color: #ccc;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  word-wrap: break-word;
  font-size: 18px;
}

.Main__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  height: 100%;
}

.content {
  background-color: #181949;
  color: #fff;
  height: fit-content;
}